img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

body {
    background-color: rgb(110, 4, 160);
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
}

a {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: slateblue;
}